#articleCharacters {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  justify-content: space-around;
}

#articleCharacters .buttonNav{
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  justify-self: center;
  margin: 0;
}