#articleCharacters {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  justify-content: space-around;
}

#articleCharacters .buttonNav{
  display: flex;
  height: auto;
  background-color: rgba(0, 255, 255,0.6);
  width: 100vw;
  justify-content: space-evenly;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.divCharacterList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width:780px)
{
  #articleCharacters .buttonNav{
  flex-wrap: wrap;
  align-items: center;
}}