#principalArticle{
    display: flex;
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, rgba(38,145,187,1) 30%, rgba(163,5,7,1) 70%);
}

#principalArticle .image{
    display: flex;
    width: 30vw;
    height: 50vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}
#principalArticle .image img{
    width: 60%;
    height: auto;
}

#principalArticle .description{
    display: flex;
    width: 60vw;
    flex-direction: column;
    height: 50vh;
    background-color: rgba(246, 218, 219, 0.8);
    text-align: justify;
    padding: 1vh;
    align-items: center;
    overflow: auto;
}

#principalArticle .description h1{
    color: rgb(42, 10, 73);
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 38px;
}

#principalArticle .description p{
    font-size: 14px;
    padding: 1vw;
}

@media screen and (max-width:780px)
{
    #principalArticle{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    #principalArticle .image{
        display: flex;
        width: 90vw;
        height: 50vh;
        margin-top: 2vw;
    }
    #principalArticle .image img{
        width: auto;
        max-width: 90%;
        max-height: 90%;
    }
    
    #principalArticle .description{
        display: flex;
        width: 90vw;
        height: auto;
    }
}