header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 30vh;
  justify-content: space-evenly;
  width: 100vw;
}
header .banner {
  display: flex;
  height: 95%;
  width: auto;
}
header img {
  height: 100%;
  width: auto;
}

@media screen and (max-width:780px)
{
  header{
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  header img {
    height: auto;
    max-width: 80vw;
  }
}